body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: 70vh;
    background-image: url("../img/food-bg-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #c3c3c3;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
}

.logo {
    float: left;
    padding: 0 35px;
    line-height: 100px;
}

.logo a {
    font-family: 'Yeseva One', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.navigator {
    line-height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
}

.navigator-wrapper {
    margin: 0 auto 10vh;
    height: 100px;
}

nav {
    float: left;
    max-width: 60vw;
    padding-left: 20vw;
}

nav a {
    font-family: "Gentium Basic", "Arial", sans-serif;
    font-size: 1.3125rem;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    /* line-height: 100px; */
    border: 3px solid transparent;
    padding: 35px;
}

nav a:hover {
    border-top: 3px solid #fff;
}

nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

/*SOCIAL ICONS IN HEADER*/
.social {
    float: left;
    max-width: 15vw;
    height: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social i {
    padding: 0 10px;
    color: #dab33e;
}

/*MAIN HEADING*/
.promo-heading {
    max-width: 60vw;
    font-family: 'Yeseva One', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 0.1vw;
    clear: both;
}

.promo-heading h1 {
    margin-bottom: 1vh;
    color: rgba(255, 255, 255, 0.84);
    text-decoration: none;
}

.promo-heading {
    margin: 0 auto;
}

/*FIGURE DECOR HEADER*/
.figure-header {
    margin: 0 auto;
    max-width: 18vw;
    height: 8vh;
}

/*BUTTONS HEADER*/
.button-container {
    margin: 0 auto;
    max-width: 30vw;
    height: 6vh;
}

.button {
    float: left;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    border: 2px solid #ffffff;
    min-width: 9vw;
    padding: 15px;
}

.button:first-child {
    margin-right: 1vw;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    color: #ffffff;
}

.button:nth-child(2) {
    border: 2px solid rgba(0, 0, 0, 0.64);
    background-color: rgba(0, 0, 0, 0.64);
}

/*SECTION FOOTER*/
.page-footer {
    margin-bottom: 0;
    height: 320px;
    padding-top: 45px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #191919;
    color: #c3c3c3;
}

.footer-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.footer-top {
    margin-bottom: 45px;
}

.footer-middle {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-top: 50px;
}

.footer-menu {
    float: left;
    width: 400px;
    margin-right: 40px;
    text-align: center;
}

.footer-menu h3 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Georgia", serif;
}

.footer-menu ul {
    margin: 0 auto;
    list-style: none;
}

.footer-menu li {
    margin: 0 auto;
    padding: 5px;
}

.footer-menu a {
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom {
    padding-top: 50px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    width: 100px;
    color: #ffffff;
}

.social-icons ul {
    margin: 0 auto;
}

.fa {
    color: rgb(195, 195, 195);
}