/*SECTION FINE INGREDIENTS*/
.ingredients {
  color: #ffffff;
  height: 600px;
  background-image: url("../img/food-bg-2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.ingredients p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2.5vh;
}

.panel {
  padding-top: 9vh;
}

.black-panel {
  max-width: 30vw;
  margin-top: 0;
  margin-left: 48vw;
  padding: calc(1vw + 1vh);
  text-align: center;
  vertical-align: middle;
  background-color:rgba(0, 0, 0, 0.69);
}

.ingredients .figure-image {
  float: left;
  width: 100%;
  margin: 0 auto;
}