/*SECTION PRICING TABLES*/
.pricing-table {
  height: 1200px;
  background-image: url("../../../projects/markup-1/img/bg-4.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.menu-text:first-child {
  float: left;
}

.guests-reviews {
  height: 600px;
  background-image: url("../../../projects/markup-1/img/food-bg-3.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.contact-form {
  height: 600px;
  background-image: url("../../../projects/markup-1/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}


.figure-image {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}