/*SECTION PRICING TABLES*/
.reservation-wrapper {
  width: 100vw;
  height: 700px;
  background: url("../../../projects/markup-1/img/bg-1.jpg") no-repeat 100%;
}

.images-container img {
  margin-left: 5vw;
  padding-top: 8vh;
}

.food-image {
  float: left;
}

.contact-form {
  padding-top: 8vh;
  margin-left: 55vw;
  max-width: 30vw;
}

.contact-form h1 {
  color: #dab33e;
}
.contact-form img {
  margin-left: 6vw;
}

.form-header h1 {
  text-align: center;
}