body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #404040;
    background-color: white;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    position: relative;
    font-family: 'Yeseva One', cursive;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    height: 155px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(transparent));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    z-index: 99;
}

section {
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.footer-wrapper {
    width: 1200px; /*1020px*/
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    /* margin: 0 auto; */
}

.page-header {
    top: 0;
    min-height: 700px;
    /* padding-top: 15px; */
    background-image: url("../img/food-bg-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.page-header,
.page-footer {
    color: #c3c3c3;
    /* background-color: #363636; */
}

.header-top {
    margin-bottom: 125px;
}

.header-logo {
    float: left;
    width: 155px;
    height: 55px;
}

.header-logo img {
    width: 155px; /*205px*/
    height: 55px;
}

.main-nav {
    float: left;
    width: 625px; /*520px*/
    /* height: 120px; */
    margin: 0;
    /* margin-top: 18px;s  */
    margin-left: 170px;
    padding: 0;
    list-style: none;
}

.main-nav li {
    float: left;
    line-height: 90px;
    width: fit-content;
    margin-right: 30px;
    text-align: center;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: none;
}
/* .main-nav a:hover:before {
    content: ' ';
    display: block;
    width: 80px;
    height: 3px;
    background: #dab33e;
    margin: 0 auto;
} */


.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.social-nav {
    float: left;
    width: 130px; /*520px*/
    margin: 0;
    margin-top: 18px;
    padding: 0;
    list-style: none;
}
.social-nav i {
    padding: 0 10px;
    color: #dab33e;
}

.decor-white {
    height: 4vh;
}

.button-container {
    width: 100vw;
}

.btn {
    display: inline-block;
    width: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    text-align: center;
    color: #a38b70;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #a38b70;
    border-radius: 2px;
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
}

.btn-quick-order {
    float: right;
    margin-top: 6px;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-quick-order:first-child {
    margin-right: 2vw;
}

.btn-quick-order:hover {
    color: #404040;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-quick-order:active {
    color: rgba(64, 64, 64, 0.3);
    background-color: #ffffff;
    border-color: #ffffff;
}

.promo {
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 0.1vw;
    line-height: 115px;
    font-family: 'Yeseva One', sans-serif;
    text-align: center;
}

.promo a {
    color: rgba(255,255,255,084);
    text-decoration: none;
}

/* .text-center + h2 {
    font-family: 'Yeseva One', cursive;
} */

.description p,
.ingredients p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.description {
    float: left;
    width: 250px;
}

.about {
    background-image: url("../../../projects/markup-1/img/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*SECTION FINE INGREDIENTS*/
.ingredients {
    color: #ffffff;
    height: 600px;
    background-image: url("../../../projects/markup-1/img/food-bg-2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.panel {
    padding-top: 9vh;
}

.black-panel {
    width: 420px;
    margin-top: 0;
    margin-left: 48vw;
    padding: calc(1vw + 1vh);
    text-align: center;
    vertical-align: middle;
}

/*SECTION PRICING TABLES*/
.pricing-table {
    height: 1200px;
    background-image: url("../../../projects/markup-1/img/bg-4.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.menu-text:first-child {
    float: left;
}

.guests-reviews {
    height: 600px;
    background-image: url("../../../projects/markup-1/img/food-bg-3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.contact-form {
    height: 600px;
    background-image: url("../../../projects/markup-1/img/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*//////////////////////////////////////////////*/

.page-footer {
    margin-bottom: 0;
    height: 320px;
    padding-top: 45px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #191919;
    color: #fefefe;
}

.footer-top {
    margin-bottom: 45px;
}

.footer-middle {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-top: 50px;
}

.footer-menu {
    float: left;
    width: 500px;
    margin-right: 40px;
    text-align: center;
}

.footer-menu h3 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Georgia", serif;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    margin-bottom: 15px;
}

.footer-menu a {
    font-size: 16px;
    text-decoration: none;
}

.footer-menu a:hover {

}

.footer-menu a:active {

}

.footer-bottom {
    padding-top: 50px;
}

.footer-social {
    float: left;
    width: 490px;
    font-size: 0;
}

.footer-social b {
    margin-right: 40px;
    font-size: 24px;
    font-family: "Georgia", serif;

}

.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
}

.social-btn:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
    border-color: #ffffff;
    opacity: 0.1;
}

.social-btn-vk {
    background-position: 16px -238px;
}

.social-btn-fb {
    background-position: 19px -297px;
}

.social-btn-in {
    background-position: 13px -358px;
}

.footer-copyright {
    margin-top: 17px;
    float: right;
    width: 236px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-copyright .heart {
    display: inline-block;
    width: 27px;
    height: 24px;
    font-size: 0;
    vertical-align: middle;
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    background-position: -5px -419px;
}

.footer-copyright a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);
}